// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

// Then new CSS
body .wrapper {
    max-width: 500px;
    margin: 0 auto;
}

.loading-container {
    display: none;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.07);
}

.loading-container img {
    width: 100%;
    height: auto;
    max-width: 65px;
    max-height: 65px;
}